<div id="search-bus">
	<hr>
	<table  cellpadding=10 cellspacing=30 style="width:100%; ">
  	<tr>
  	<th>Bus Name</th>   
  	<th>Source</th> 
  	<th>Destination</th> 
  	<th>Arrival Time</th> 
  	<th>Departure time</th> 
  	<th>Fare</th>
  	<th>Bus Type</th>
  	</tr>
  	<!--<tr *ngFor='let x of bus'>-->
    <tr>
    <td>Shakti Travels</td>
    <td>Delhi</td>
    <td>Pune</td>
    <td>9</td>
    <td>12</td>
    <td>1200</td>
    <td>Driver</td>
    <td><button routerLink="/seatLayoutLink" style="background-color: darkorange;">Select Select</button></td>
  </tr>
  <tr>
    <td>Shakti Travels</td>
    <td>Delhi</td>
    <td>Pune</td>
    <td>9</td>
    <td>12</td>
    <td>1200</td>
    <td>Driver</td>
    <td><button routerLink="/seatLayoutLink" style="background-color: darkorange;">Select Select</button></td>
  </tr>
</table>
<hr>
</div>