
<div id="ticket-details">
    <div id="details">
        <h2>Ticket Details</h2>
        <div id="print-details">
            <h3>Bus No :- {{busNumber}}</h3>
            <h3>Source :- {{source}}</h3>
            <h3>Destination :- {{destion}}</h3>
            <h3>Date of Journey :- {{doj}}</h3>
            <h3>Arrival Time :- {{arrivalTime}}</h3>
            <h3>Departure Time :- {{departureTime}}</h3>
            <h3>Seat Number :- {{seatNo}}</h3>
            <h3>Fare :- {{fare}}</h3>
        </div>	
    </div>
</div>
<div id="proceed-button">
    <div id="proceed">
        <button routerLink="/">Cancel</button>
        <button routerLink="/paymentPortalLink">Proceed to Payment</button>
    </div>
</div>
