<div class="app-container">
    <div class="top-box">
    
    </div>
    
    <div class =  "middle-box">
    <p>Amount Pay To Company</p>
    <h1><span>&#8377;</span>1599</h1>
    </div>
    
    <div class = "bottom-box">
      <button type ="button"  routerLink="/ticketDetailsLink"> <img src="https://img.icons8.com/cotton/16/000000/coin-wallet--v1.png"/>Pay With Wallet - (100)</button>
    <br>
    <button type ="button" style="width: 40%;"  routerLink="/ticketDetailsLink"> Pay With PayPal</button><br>
    <button type ="button" style="width: 40%;"  routerLink="/ticketDetailsLink"> Pay Using NetBanking</button><br>
    <div class="card-details">
    <p>Pay using credit or debit card</p>
    <label>
      Card Number <div style="width: 5px;"></div>
      <input type="text" placeholder="xxxx-xxxx-xxxx-xxxx">
    </label>
    
    
    <div class ="date-field-group">
    <label>Expiry Date</label><br>
    <input type="text" class = "date-field" placeholder="mm">
    <input type="text" class = "date-field" placeholder="yyyy">
    </div>
    
    
    <div class ="cvc-field-group">
    <label>CVC</label><br>
    <input type="password" class = "cvc-field" placeholder="xxx">
    </div>
    
    <div class ="name-field-group">
    <label>Card Name Holder</label><br>
    <input type="text" class = "name-field" placeholder="Full Name">
    </div>
    <br>
    <button type ="button"  routerLink="/ticketDetailsLink" style="padding:2%; margin-bottom: 1%;">Pay Now</button>
    </div>
    </div>
    </div>