
<div id="ticket-details">
    <div id="details">
        <h2>Ticket Details</h2>
        <div id="print-details">
            <h3>{{searchTicket.bookingDate}}</h3>
            <h3>{{searchTicket.dateOfJourney}}</h3>
            <h3>{{searchTicket.ticketNo}}</h3>
            <h3>{{searchTicket.seatNo}}</h3>
            <h3>{{searchTicket.busNo}}</h3>
            <h3>{{searchTicket.source}}</h3>
            <h3>{{searchTicket.destination}}</h3>
            <h3>{{searchTicket.fare}}</h3>
            <h3>{{searchTicket.startTime}}</h3>
            <h3>{{searchTicket.reachTime}}</h3>
        </div>	
    </div>
</div>
